@import 'core.import'

@keyframes fadeIn
  to
    opacity 1

.fade-in
  opacity 0
  animation fadeIn .5s ease-in 1 forwards


.is-paused
  animation-play-state paused

img.avatar
  display       inline-block
  position      relative
  user-select   none
  border-radius 3px
  background    rgba(black, 0.05)

  &.load-failed
    background none

  &.size16
    size 16px
    border-radius 50%

  &.size22
    size 22px
    border-radius 50%

  &.size26
    size 26px
    border-radius 50%

  &.size28
    size 28px
    border-radius 50%

  &.size30
    size 30px
    border-radius 50%

  &.size32
    size 32px
    border-radius 50%

  &.size36
    size 36px
    border-radius 50%

  &.size42
    size 42px
    border-radius 50%

  &.size48
    size 48px
    border-radius 50%

  &.size64
    size 64px
    border-radius 50%

  &.size74
    size 74px
    border-radius 50%

  &.size96
    size 96px
    border-radius 50%

  &.size120
    size 120px
    border-radius 50%



