@import 'core.import'



img.avatar
  display       inline-block
  position      relative
  user-select   none
  border-radius 3px
  background    rgba(black, 0.05)

  &.load-failed
    background none

  &.size16
    size 16px

  &.size22
    size 22px

  &.size26
    size 26px

  &.size28
    size 28px

  &.size30
    size 30px
    border-radius 4px

  &.size32
    size 32px
    border-radius 4px

  &.size36
    size 36px
    border-radius 4px

  &.size42
    size 42px
    border-radius 5px

  &.size48
    size 48px
    border-radius 6px

  &.size64
    size 64px
    border-radius 7px

  &.size74
    size 74px
    border-radius 8px

  &.size96
    size 96px
    border-radius 9px

  &.size120
    size 120px
    border-radius 12px



